:root {
  --green: #9EFFA3;
  --gray: #3d3b40;
  --sideSpace: 20px;
  --ImagePadding: 15px;
  --DetailBackGround: rgba(101, 94, 94, 0.3);
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  font-family: "Courier New", Courier, monospace;
  color: var(--green);
}
/* ----------------------- project */
.DataContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.heading {
  background-color: var(--DetailBackGround);
  padding-left: var(--sideSpace);
  padding-top: 20px;
  padding-bottom: 20px;
}
/* --------------------- videos */
.VideoContainer {
  grid-column: span 2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.VideoContainer video {
  height: 50vh;
  object-fit: cover;
  padding: 20px;
  max-height: fit-content;
}
/* ---------------------------- project details */
.ProjectDetails {
  grid-column: span 2;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.ProjectDetails div {
  /* border: solid 2px green; */
  padding-left: var(--sideSpace);
  background-color: var(--DetailBackGround);
}
.ProjectAbout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ProjectAbout h1 {
  text-decoration: underline;
}

.ProjectTimeline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.ProjectTimeline h1 {
  text-decoration: underline;
}

.ProjectTimelineList {
  list-style: none;
}
.ProjectTimelineList li img {
  width: 20px;
  height: 20px;
}
/* --------------------------- project info */
.ProjectIntro {
  grid-column: span 2;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.ProjectIntro div {
  background-color: var(--DetailBackGround);
  padding-left: var(--sideSpace);
}
.ProjectIntro p {
  grid-column: span 2;
  padding-left: var(--sideSpace);
}
/* ---------------- Aniamtion */
.mechanisms {
  grid-column: span 2;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.mechanisms p {
  grid-column: span 1;
  padding-left: var(--sideSpace);
}
.ImageDiv {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--ImagePadding);
}
.ImageDiv img {
  max-width: auto;
  max-height: auto;

  min-width: 50vh;
  min-height: 50vh;
}
/* ----------------------- downloads */
.DownloadGame {
  grid-column: span 2;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DownloadGame a {
  color: var(--green);
  text-decoration: none;
  font-size: 30px;
  border: solid 2px var(--green);
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

.DownloadGame a:hover {
  filter: blur(1px);
  animation-name: HoverCircle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  /* transform: scaleX(11); */
  border: none;
}

@keyframes HoverCircle {
  0% {
    border-top: solid 1px var(--green);
  }
  20% {
    border-left: solid 1px var(--green);
  }
  40% {
    border-bottom: solid 1px var(--green);
  }
  60% {
    border-right: solid 1px var(--green);
  }
}

/* ----------------------- testing  */
/* .show {
  border: solid 2px white;
} */
/*  java script sessions ---------------------------------------- */

.show {
  animation-name: Intro;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes Intro {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

.Fade {
  animation-name: Intro;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
