:root {
  --green: #dcffb7;
  --Alter: #9effa3;
  --TextColor: #b0b0b0;
  --gray: #3d3b40;
  --hoverLoading: purple;
  --sideSpace: 20px;
  --DetailBackGround: rgba(101, 94, 94, 0.3);
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  font-family: "Courier New", Courier, monospace;
  color: var(--Alter);
  font-size: 20px;
}
.DataContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.Project {
  margin: 10px;
  /* background-color: var(--DetailBackGround); */
  box-shadow: 5px 3px 5px 1px var(--green);
  padding-left: var(--sideSpace);
}
.Project h1 {
  text-align: left;
  /* padding-left: var(--sideSpace); */
}
@media (max-width: 800px) {
  /* p {
    font-size: 10px;
    line-height: 10px;
  }
  h1 {
    font-size: 15px;
  } */
  .ImageDiv img {
    min-height: 10vh;
    min-height: 10vh;
  }
  .DataContainer {
    display: grid;
    grid-template-columns: auto;
  }
}
