:root {
  --green: #dcffb7;
  --Alter: #9effa3;
  --TextColor: #b0b0b0;
  --gray: #3d3b40;
  --hoverLoading: purple;
  --sideSpace: 20px;
  --DetailBackGround: rgba(101, 94, 94, 0.3);
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  /* background-color: rgba(0,0,0,0.6); */
  font-family: "Courier New", Courier, monospace;
  color: var(--Alter);
}

/*  heading and about parts sessions ---------------------------------------- */
.DataContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2,1fr); */
  gap: 20px;
}
.Profile {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.profileName {
  grid-column: span 1;
  /* border: solid 2px rgb(68, 0, 255); */
  padding-left: var(--sideSpace);
}

.Contact {
  /* border: solid 2px yellow; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.Contact li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.Contact img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: solid 2px var(--green);
  padding: 2px;
}
/* ---------------------------- profile photo */
.profilePhoto {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* border: solid 2px green; */
}
.profilePhoto img {
  max-width: 30vh;
  height: 30vh;
  border-radius: 50%;
  border: solid 2px var(--green);
}

/* ---------------------------- about me */
.AboutMe {
  /* grid-column: span 1; */
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  align-items: center;
}
.AboutMe p {
  padding: 20px;
}

/* ---------------------------------- Education */
.Education {
  grid-column: span 1;
  background-color: var(--DetailBackGround);
}
.Education h1 {
  padding-left: var(--sideSpace);
}
/* --------------------------------- Education detail */
.EducationDetail {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.EducationDetail div {
  /* border: solid 2px palegreen; */
  /* margin: 5px; */
  padding: 10px;
  display: flex;
}
/* --------------------------------------- diploma  */
.DiplamoDetail {
  /* background-color:var(--DetailBackGround); */
  display: flex;
  flex-direction: column;
}
.DiplamoDetail h1 {
  text-decoration: underline;
  text-align: center;
  font-size: 25px;
}
.DiplamoDetail p {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* --------------------------------------- Collage  */
.CollageDetail {
  /* background-color:var(--DetailBackGround); */
  display: flex;
  flex-direction: column;
}
.CollageDetail h1 {
  text-decoration: underline;
  font-size: 25px;
  text-align: center;
}
.CollageDetail p {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ------------------------------------ Skill heading */
.SkillHeading {
  grid-column: span 1;
  background-color: var(--DetailBackGround);
}
.SkillHeading h1 {
  padding-left: var(--sideSpace);
}
/* ------------------------------------ Skill detail */
.SkillDetail {
  grid-column-start: 1;
  grid-column-end: 4;
}
.SkillDetailList li {
  list-style: none;
  display: inline-block;
  margin-left: 80px;
}
.SkillDetail img {
  border: solid 2px var(--green);
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
/* ----------------------------- Experinces */
.Exprencies {
  grid-column: span 1;
  background-color: var(--DetailBackGround);
}
.Exprencies h1 {
  padding-left: var(--sideSpace);
}

.ExprenciesDetatil {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* -------------------------------- Exprences 1 */
.ExprenciesData {
  display: flex;
  flex-direction: column;
  padding-left: var(--sideSpace);
  align-items: flex-start;
}
.ExprenciesData h2 {
  text-decoration: underline;
}

/* ----------------------------- Exlore Heading */
.ExloreHeading {
  grid-column: span 1;
  background-color: var(--DetailBackGround);
}
.ExloreHeading h1 {
  padding-left: var(--sideSpace);
}
/* ------------------------------------- slelect project */
.SelectTheproject {
  grid-column: span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}
.SelectTheproject a {
  font-size: 30px;
  text-decoration: none;
  color: var(--green);
  border: solid 2px purple;
  border-radius: 50px;
  padding: 20px;
}
.SelectTheproject a:hover {
  filter: blur(2px);
  border: none;
  animation-name: HoverCircle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes HoverCircle {
  0% {
    border-top: solid 1px var(--hoverLoading);
  }
  20% {
    border-left: solid 1px var(--hoverLoading);
  }
  40% {
    border-bottom: solid 1px var(--hoverLoading);
  }
  60% {
    border-right: solid 1px var(--hoverLoading);
  }
}
/* .hidden {
  border: solid 2px white;
} */

/*  java script sessions ---------------------------------------- */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (max-width: 800px) {
  p {
    font-size: 10px;
    line-height: 10px;
  }
  .AboutMe {
    font-size: 10px;
    line-height: 10px;
  }
  .Exprencies {
    padding: 10px;
    font-size: 5px;
  }
  h1 {
    font-size: 15px;
  }
  .SelectTheproject a {
    font-size: 10px;
  }
  .profilePhoto img {
    width: 10vh;
    height: 10vh;
  }
  .EducationDetail h1 {
    font-size: 15px;
  }
  .SkillDetailList img {
    max-width: 5vh;
    max-height: 5vh;
  }
}
